@model KHBPA.Models.Document

@{
    ViewBag.Title = "Delete";
}

<h2>Are you sure you want to remove this photo?</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           <img src="@Html.DisplayFor(model => model.DocumentName)" style="max-width:100%;" />
        </dt>
        <dd></dd>
        <dt style="width:15%">

        </dt>
        <dd></dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
