
@{
    ViewBag.Title = "Index";
}

<h2>Events</h2>
Here are our events for the upcoming month: </br>

@*If you are interested select the event to learn more</br>*@
</br>

<iframe src="https://calendar.google.com/calendar/embed?title=KHBPA&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=vince.patrick225%40gmail.com&amp;color=%231B887A&amp;ctz=America%2FNew_York" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>



