@{
    ViewBag.Title = "Home Page";
}

<style media="screen" type="text/css">


</style>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<link rel=" stylesheet" href="~/Content/CarouselCSS.css" type="text/css" />

<div id="fb-root"></div>
<script>
(function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.10';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>



  <div id="myCarousel" class="carousel slide" data-ride="carousel" style="margin-top:0; border: 0;">
            <!-- Carousel indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
            </ol>

            <!-- Wrapper for carousel items -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="~/Content/Images/KYHBPA-Pics/Churchill/12.jpg" style="background-image: inherit" />
                </div>
                <div class="item">
                    <img src="~/Content/Images/KYHBPA-Pics/Ellis-Park/4.jpg" style="background-image: inherit" />
                </div>
                <div class="item">
                    <img src="~/Content/Images/KYHBPA-Pics/Keeneland/4.jpg" style="background-image: inherit" />
                </div>
                <div class="item">
                    <img src="~/Content/Images/KYHBPA-Pics/Turfway-Park/9.jpg" style="background-image: inherit" />
                </div>
            </div>

            <!-- Carousel controls -->
            <a class="carousel-control left" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="carousel-control right" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>


    @* About KYHBPA *@
    <div class="container-fluid">
        <div class="row">
            <div style="margin: 4% 0" class="col-lg-11">
                <div class="col-xs-6">
                    <div class="col-xs-5">
                        <div class="text-center col-md-12">
                            <i class="d-block mx-auto fa fa-3x fa-handshake-o"></i>
                        </div>
                        <div class="text-center col-md-12">
                            <h3 class="mb-3 text-primary">
                                <b>Horse Race Negotiation</b>
                            </h3>
                        </div>
                    </div>
                    <div class="col-xs-7">
                        <p class="my-1">The HBPA represents owners and trainers in negotiating sessions with each race track regarding purse structure, equitable share of simulcast revenues, overall track safety, sanitation and security. </p>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="col-xs-5">
                        <div class="text-center col-md-12">
                            <i class="d-block mx-auto fa fa-3x fa-paper-plane-o"></i>
                        </div>
                        <div class="text-center col-md-12">
                            <h3 class="mb-3 text-primary">
                                <b>Insurance and Resources</b>
                            </h3>
                        </div>
                    </div>
                    <div class="col-xs-7">
                        <p class="my-1">The HBPA provides benevolence to horsemen in need, education and recreation programs to the backstretch, various insurance packages which include – free of charge to members – Fire and Disaster Insurance and Claiming Insurance.&nbsp;</p>
                    </div>
                </div>
            </div>
            <div style="margin: 4% 0" class="col-lg-11">
                <div class="col-xs-6">
                    <div class="col-xs-5">
                        <div class="text-center col-md-12">
                            <i class="d-block mx-auto fa fa-3x fa-heartbeat"></i>
                        </div>
                        <div class="text-center col-md-12">
                            <h3 class="mb-3 text-primary">
                                <b>Healthcare</b>
                            </h3>
                        </div>
                    </div>
                    <div class="col-xs-7">
                        <p class="my-1">The HBPA works in conjunction with the Chaplaincy Program , and the Kentucky Racing Health and Welfare Fund to provide support and benefits for Horsemen. </p>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="col-xs-5">
                        <div class="text-center col-md-12">
                            <i class="d-block mx-auto fa fa-3x fa-spinner"></i>
                        </div>
                        <div class="text-center col-md-12">
                            <h3 class="mb-3 text-primary">
                                <b>Research</b>
                            </h3>
                        </div>
                    </div>
                    <div class="col-xs-7">
                        <p class="my-1">The HBPA supports scientific research and marketing initiatives on a regional and national level to help promote interest in Thoroughbred racing. </p>
                    </div>
                </div>
            </div>
            <div style="margin: 4% 0" class="col-xs-11">
                <div class="col-xs-6 col-lg-offset-3">
                    <div class="col-xs-5">
                        <div class="text-center col-md-12">
                            <i class="d-block mx-auto fa fa-3x fa-users"></i>
                        </div>
                        <div class="col-xs-12">
                            <h3 class="mb-3 text-primary">
                                <b>Horse Legislation</b>
                            </h3>
                        </div>
                    </div>
                    <div class="col-xs-7">
                        <p class="my-1">
                            The HBPA is at the forefront in litigation and legislation on issues involving Horsemen’s rights with regards to Interstate Simulcasting, Proprietary Rights, Casino Gambling, Therapeutic Medication, Sports Betting and many other areas of
                            concern to Horsemen.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <br />
        @* Connect *@
        <div class="container-fluid">
           
            <div class="row well col-md-12" style="background: rgba(236, 240, 241, 0.85); border-radius: 5px; box-shadow: rgba(175,175,175, 0.5) 3px 3px 5px">
                <div class="p-5 col-md-4">
                    <div class="fb-page" data-href="https://www.facebook.com/kyhbpa" data-tabs="timeline" data-width="300" data-height="500" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/kyhbpa" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/kyhbpa">Kentucky HBPA</a></blockquote></div>
                </div>

                <div class="p-5 col-md-4">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-3">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            Do you favor or oppose more restrictions on pre-race medicine testing?
                                        </h4>
                                    </div>
                                    <div class="panel-body">
                                        <ul class="list-group">
                                            <li class="list-group-item">
                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" name="optionsRadios">
                                                        Favor
                                                    </label>
                                                </div>
                                            </li>
                                            <li class="list-group-item">
                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" name="optionsRadios">
                                                        Oppose
                                                    </label>
                                                </div>
                                            </li>
                                            <li class="list-group-item">
                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" name="optionsRadios">
                                                        No opinion
                                                    </label>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="panel-footer">
                                        <button type="button" class="btn btn-primary btn-sm">
                                            Vote
                                        </button>
                                        <a href="#">View Result</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
               
                <div class="p-5 col-md-4">
                    <a class="twitter-timeline" data-width="300" data-height="500" href="https://twitter.com/KyHBPA?ref_src=twsrc%5Etfw">Tweets by KyHBPA</a>
                    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>

               
            </div>
        </div>
    </div>
