<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

@{
    ViewBag.Title = "Home Page";
}


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
<link rel="stylesheet" href="~/Content/SocialMediaIcons.css" type="text/css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<link rel=" stylesheet" href="~/Content/CarouselCSS.css" type="text/css" />
<script src="//assets.juicer.io/embed.js" type="text/javascript"></script>
<link href="//assets.juicer.io/embed.css" media="all" rel="stylesheet" type="text/css" />


@*Carousel Height Fix*@
<style>
    .carousel-inner > .item {
        min-height: unset !important;
        height: unset !important;
    }
</style>

@*Facebook Script*@
<div id="fb-root"></div>
<script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.10';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

@*Carousel*@
<div class="container-fluid nopadding">
    <div id="myCarousel" class="carousel slide " data-ride="carousel" style="margin-top:0; border: 0;">
        <!-- Carousel indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
            <li data-target="#myCarousel" data-slide-to="4"></li>
        </ol>
        <!-- Wrapper for carousel items -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="~/Content/Images/KYHBPA-Pics/Churchill/12.jpg" style="background-image: inherit" />
                <div class="carousel-caption" style="top: 20%; bottom: auto">
                    <h1 style="font-size: 55px; font-weight: 600; text-shadow: 2px 2px 3px #000000">KENTUCKY HORSEMEN BENEVOLENT AND PROTECTIVE ASSOCIATION</h1>
                    <h4 style="font-size: 30px; font-weight: 500">Horsemen Helping Horsemen</h4>
                    <br />
                    <div style="display: inline; text-align: center">
                        <a href="https://www.facebook.com/kyhbpa" target="blank"><i class="fa fa-facebook-square fa-3x d-inline mr-3 text-white"></i></a>
                        <a href="https://twitter.com/kyhbpa" target="blank"><i class="fa fa-twitter-square fa-3x d-inline mx-3 text-white"></i></a>
                        <a href="https://www.instagram.com/kyhbpa2017" target="blank"><i class="fa fa-instagram fa-3x d-inline mx-3 text-white"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <a href="@Url.Action("About", "Home")" target="blank">
                    <img src="~/Content/Images/KYHBPA-Pics/Ellis-Park/4.jpg" style="background-image: inherit" />
                    <div id="overlay" class="carousel-caption">
                        <h1 style="font-size: 50px; font-weight: 600;">About Us</h1>
                        <h5 style="font-size: 20px; font-weight: 500">Learn more about what the KYHBPA is and what we do. </h5>
                    </div>
                </a>
            </div>
            <div class="item">
                <a href="@Url.Action("Index", "Resources")" target="blank">
                    <img src="~/Content/Images/KYHBPA-Pics/Keeneland/4.jpg" style="background-image: inherit" />
                    <div id="overlay" class="carousel-caption">
                        <h1 style="font-size: 50px; font-weight: 600;">Member Benefits</h1>
                        <h5 style="font-size: 20px; font-weight: 500">Learn more about the benefits of being a member of the KYHBPA.</h5>
                    </div>
                </a>
            </div>
            <div class="item">
                <a href="@Url.Action("Index", "News")" target="blank">
                    <img src="~/Content/Images/KYHBPA-Pics/Churchill/5.jpg" style="background-image: inherit" />
                    <div id="overlay" class="carousel-caption">
                        <h1 style="font-size: 50px; font-weight: 600;">News Articles</h1>
                        <h5 style="font-size: 20px; font-weight: 500">Read up on the latest Kentucky HBPA Headlines and National HBPA headlines.</h5>
                    </div>
                </a>
            </div>
            <div class="item">
                <a href="@Url.Action("Index", "Posts")" target="blank">
                    <img src="~/Content/Images/KYHBPA-Pics/Turfway-Park/9.jpg" style="background-image: inherit" />
                    <div id="overlay" class="carousel-caption">
                        <h1 style="font-size: 50px; font-weight: 600;">Blog</h1>
                        <h5 style="font-size: 20px; font-weight: 500">Keep updated on what's happening with the KYHBPA. </h5>
                    </div>
                </a>
            </div>
        </div>
        <!-- Carousel controls -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
</div>

@*What KyHBPA Does*@
<div class="container-fluid body-content">
    @*First Row of Icons and Text**@
    <div class="row" style="margin-bottom: -50px !important">
        <div style="margin: 5% 0" class="col-md-6">
            <div class="row">
                <div class="text-center col-md-4">
                    <i class="d-block mx-auto fa fa-3x fa-handshake-o"></i>
                    <h3 class="mb-3">
                        <b>Horse Race Negotiation</b>
                    </h3>
                </div>
                <div class="col-md-8">
                    <p>The HBPA represents owners and trainers in negotiating sessions with each race track regarding purse structure, equitable share of simulcast revenues, overall track safety, sanitation and security. </p>
                </div>
            </div>
        </div>
        <div style="margin: 5% 0" class="col-md-6">
            <div class="row">
                <div class="text-center col-md-4">
                    <i class="d-block mx-auto fa fa-3x fa-paper-plane-o"></i>
                    <h3 class="mb-3">
                        <b>Insurance and Resources</b>
                    </h3>
                </div>
                <div class="col-md-8">
                    <p>The HBPA provides benevolence to horsemen in need, education and recreation programs to the backstretch, various insurance packages which include &#8211 free of charge to members &#8211 Fire and Disaster Insurance and Claiming Insurance.&nbsp;</p>
                </div>
            </div>
        </div>
    </div>
    @*Second Row of Icons and Text**@
    <div class="row" style="margin-bottom: -50px !important">
        <div style="margin: 5% 0" class="col-md-6">
            <div class="row">
                <div class="text-center col-md-4">
                    <i class="d-block mx-auto fa fa-3x fa-heartbeat"></i>
                    <h3 class="mb-3">
                        <b>Healthcare</b>
                    </h3>
                </div>
                <div class="col-md-8">
                    <p>The HBPA works in conjunction with the Chaplaincy Program, and the Kentucky Racing Health and Welfare Fund to provide support and benefits for Horsemen. </p>
                </div>

            </div>
        </div>
        <div style="margin: 5% 0" class="col-md-6">
            <div class="row">
                <div class="text-center col-md-4">
                    <i class="d-block mx-auto fa fa-3x fa-spinner"></i>
                    <h3 class="mb-3">
                        <b>Research</b>
                    </h3>
                </div>
                <div class="col-md-8">
                    <p>The HBPA supports scientific research and marketing initiatives on a regional and national level to help promote interest in Thoroughbred racing. </p>
                </div>
            </div>
        </div>
    </div>
    @*Third Row of Icons and Text**@
    <div class="row" style="margin-bottom: -50px !important">
        <div style="margin: 5% 0" class="col-md-12">
            @*<div class="row">*@
            <div class="col-md-2">

            </div>
            <div class="col-md-3" style="text-align:center">
                <i class="d-block mx-auto fa fa-3x fa-users"></i>
                <h3 class="mb-3">
                    <b>Horse Legislation</b>
                </h3>
            </div>
            <div class="col-md-5" style="text-align:left">
                <p>
                    The HBPA is at the forefront in litigation and legislation on issues involving Horsemen&#39;s rights with regards to Interstate Simulcasting, Proprietary Rights, Casino Gambling, Therapeutic Medication, Sports Betting and many other areas of
                    concern to Horsemen.
                </p>
            </div>
            <div class="col-md-2">

            </div>

            @*</div>*@
        </div>
    </div>
</div>
<br />
@*  Social Media Section *@
<div class="container-fluid" align="center">
    <div class="well col-md-12" style="background: rgba(249, 249, 249, 0.5); overflow: auto">
        <center><h2>Connect with Us</h2></center>
        <br />
        @*Facebook*@
        <div class="col-md-4 col-xs-10 col-xs-offset-1 col-md-offset-0" style="margin-bottom: 25px;">
            <div class="fb-page" data-href="https://www.facebook.com/kyhbpa" data-tabs="timeline" data-width="300" data-height="500" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/kyhbpa" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/kyhbpa">Kentucky HBPA</a></blockquote></div>
        </div>

        @*Instagram*@
        <div class="col-md-4 col-xs-10 col-xs-offset-1 col-md-offset-0" align="center" style="margin-bottom: 25px;">

            <ul class="juicer-feed" data-feed-id="kyhbpa2017"></ul>

        </div>

        @*Twitter*@
        <div class="col-md-4 col-xs-10 col-xs-offset-1 col-md-offset-0" align="center" style="margin-bottom: 25px;">
            <a class="twitter-timeline" data-height="500" href="https://twitter.com/KyHBPA?ref_src=twsrc%5Etfw">Tweets by KyHBPA</a>
            <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
    </div>
</div>
<br />
@*Partners Section*@
<div class="container-fluid">
    <div class="col-md-12" style="background: rgba(249, 249, 249, 0.5); overflow: auto">
        <center><h2>Meet Our Partners</h2></center>
        <br />
        <div class="col-xs-8 col-xs-offset-2 col-md-3 col-md-offset-0" style="align-content: center">
            <a href="http://www.churchilldowns.com">
                <img src="~/Content/Images/Churchill-Logo-TP.png" />
            </a>
        </div>
        <div class="col-xs-8 col-xs-offset-2 col-md-3 col-md-offset-0" style="align-content:center">
            <a href="http://www.ellisparkracing.com">
                <img src="~/Content/Images/Ellis-Park-Logo-TP.png" />
            </a>
        </div>
        <div class="col-xs-8 col-xs-offset-2 col-md-3 col-md-offset-0" style="align-content:center">
            <a href="http://www.keeneland.com">
                <img src="~/Content/Images/Keeneland-Logo-TP.png" />
            </a>
        </div>
        <div class="col-xs-8 col-xs-offset-2 col-md-3 col-md-offset-0" style="align-content:center">
            <a href="http://www.turfway.com">
                <img src="~/Content/Images/Turfway-Logo-TP.png" />
            </a>
        </div>
    </div>
    <br />
</div>



