@model KHBPA.Models.Document
@{
    ViewBag.Title = "DocumentUpload";
}

<h2 style="margin-left:3%">Upload Photo</h2>
<hr />
<div class="panel" style="margin-left:3%">
    <div class="panel-heading">
    </div>
    @using (Html.BeginForm("UploadDocument", "Document", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div>
            @Html.Label("Document Title");
            @Html.EditorFor(model => model.DocumentName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.DocumentName, "", new { @class = "text-danger" })
            <br />
            <label for="file">Upload Form</label>
            <br />
            <span class="btn btn-default">
                <input type="file" name="file" id="file" />
            </span>
            <input type="submit" class="btn btn-success" value="Add Photo" />
            @Html.ActionLink("Back to List", "Index")
        </div>
        <br />
        
    }
</div>