
html, body {
    width: auto !important;
    overflow-x: hidden !important;
}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.carousel {
    top: -30px;
    width: 100% !important;
    margin: 0px auto;
    padding: 0;
}

.carousel-inner > .item {
    width: 100% !important;
    height: 600px !important;
}

.content{
    width: 100%;
}
