
.navbar-nav > li, .navbar-nav {
    float: left !important;
    display: inline-block !important;
}


.navbar-brand>img{
    vertical-align: top !important;
}

body{
    display: flex;
    flex-direction: column;
}

.content{
    padding: 20px;
}

p.small {
    line-height: 10px;
    font-size: 12px !important;
}
