@model KHBPA.Models.Post

@{
    ViewBag.Title = "Details";
    bool isAdmin = User.IsInRole("Admin");
}

@PostHelper.Render(Model, Html, isAdmin, true)

<br />
@if (isAdmin)
{
       <div class="btn-group">
           <button type="button" class="btn btn-primary">@Html.ActionLink("Create new post", "Edit")</button>
           <button type="button" class="btn btn-primary">@Html.ActionLink("Back to List", "Index")</button>
       </div>
}
else
{
    <button type="button" class="btn btn-primary">@Html.ActionLink("Back to List", "Index")</button>
 }
